/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        toggle_bluetooth {
            bindings = <&tog 4>;
            key-positions = <29 5>;
        };

        toggle_gaming {
            bindings = <&tog 5>;
            key-positions = <2 13 15>;
        };

        Sleep {
            bindings = <&kp K_SLEEP>;
            key-positions = <19 20 21 40 22>;
        };
    };

    behaviors {
        my_mod_tap: my_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MY_MOD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alphas {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y       &kp U      &kp I  &kp O      &kp P  &none
&none  &kp A  &kp S  &kp D  &kp F  &kp G    &kp H       &kp J      &kp K  &kp L      &none  &none
&none  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N       &kp M      &none  &kp ENTER  &none  &none
                     &none  &mo 1  &mo 2    &kp LSHIFT  &kp SPACE  &none
            >;
        };

        navigation {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp ESCAPE  &kp TAB    &kp LWIN   &kp LC(R)  &kp LC(T)    &kp HOME    &kp BACKSPACE      &kp UP    &kp DELETE  &kp PAGE_UP    &none
&none  &kp LC(A)   &kp LC(S)  &kp LC(D)  &kp LC(F)  &kp LC(G)    &kp END     &kp LEFT           &kp DOWN  &kp RIGHT   &kp PAGE_DOWN  &none
&none  &kp LC(Z)   &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)    &none       &kp RIGHT_ALT      &none     &kp RETURN  &none          &none
                              &none      &mo 1      &mo 2        &kp LSHIFT  &kp RIGHT_CONTROL  &none
            >;
        };

        upper_row {
            bindings = <
&none  &kp F1           &kp F2           &kp F3           &kp F4           &kp F5             &kp F6           &kp F7           &kp F8           &kp F9           &kp F10          &my_mod_tap F12 F11
&none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5    &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &none
&none  &none            &none            &none            &none            &none              &none            &none            &none            &kp ENTER        &none            &none
                                         &none            &mo 1            &mo 2              &kp LSHIFT       &kp SPACE        &none
            >;
        };

        symbols {
            bindings = <
&none  &none           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none            &none    &kp AT      &my_mod_tap KP_DIVIDE KP_MULTIPLY  &kp CARET                               &my_mod_tap PERCENT AMPERSAND  &my_mod_tap PIPE BACKSLASH   &none
&none  &kp LEFT_BRACE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp RIGHT_BRACE  &none    &kp HASH    &my_mod_tap KP_MINUS KP_PLUS       &my_mod_tap DOUBLE_QUOTES SINGLE_QUOTE  &my_mod_tap EXCLAMATION EQUAL  &my_mod_tap COLON SEMICOLON  &none
&none  &none           &kp LESS_THAN         &kp GREATER_THAN       &none            &none    &kp DOLLAR  &kp UNDERSCORE                     &my_mod_tap COMMA DOT                   &kp ENTER                      &kp QUESTION                 &none
                                             &none                  &mo 1            &mo 2    &kp LSHIFT  &kp SPACE                          &none
            >;
        };

        bluetooth {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none       &none      &none  &none  &none  &none
&none  &none         &none         &none         &none         &none           &none       &none      &none  &none  &none  &none
&none  &none         &none         &bt BT_CLR    &none         &none           &none       &none      &none  &none  &none  &none
                                   &none         &mo 1         &mo 2           &kp LSHIFT  &kp SPACE  &none
            >;
        };

        gaming {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E      &kp R  &kp T    &none  &none      &kp UP    &none      &none  &none
&kp LSHFT  &kp A  &kp S  &kp D      &kp F  &kp G    &none  &kp LEFT   &kp DOWN  &kp RIGHT  &none  &none
&kp LCTRL  &kp Z  &kp X  &kp C      &kp V  &kp B    &none  &none      &none     &kp ENTER  &none  &none
                         &kp SPACE  &mo 6  &none    &none  &kp SPACE  &none
            >;
        };

        gaming_alt {
            bindings = <
&kp ESCAPE  &kp N7  &kp N8  &kp N9     &none  &none    &none  &none           &kp UP_ARROW    &none            &none  &none
&none       &kp N4  &kp N5  &kp N6     &none  &none    &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &none
&kp N0      &kp N1  &kp N2  &kp N3     &none  &none    &none  &none           &none           &kp ENTER        &none  &none
                            &kp SPACE  &mo 6  &none    &none  &kp SPACE       &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        one_and_two_does_three {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
